<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Task-Manager-Ui</title>
</head>

<body>

    <div id="grid">
    <header class="header">
        <div class="header__title"><h1>Dashboard</h1></div>
        <div class="header__icons">
        <div class="header__search"></div>
        <div class="header__bell"></div>
        <div class="header__avatar"></div>
        </div>
    </header>

<aside class="aside">
    <div class="aside__logo"></div>
    <nav class="aside__nav">
        <ul class="aside__list">
            <li class="aside__item aside__dasboard">
                <div class =aside__img--dashboard>

                </div>
                <a class="aside__link " href="Panel.html">Dashboard</a>
            </li>
            <li class="aside__item aside__crear_tarea">
                <div class =aside__img--crear_tarea>

                </div>
                <a class="aside__link " href="crear_tarea.html">Crear Tarea</a>
            </li>
            <li class="aside__item aside__cerrar_sesion">
                <div class =aside__img--cerrar_sesion>

                </div>
                <a class="aside__link " href="login.html">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
</aside>
  

    <main class="dashboard">
        <section class ="dashboard__header">
            <h1 class ="dashboard__title">Mis Tareas</h1>
            
        </section>

        <div class="board">

    <div class="board__column board__column--preferidas">
        <div class="board__title">
            <h3>Preferidas</h3>
        </div>

    <a href="tarea_detalle.html" class="board__task">
    <h4 class="board__task-title">Tarea 1</h4>
    <p class="board__task-description">Realizar actividad Sena</p>
    <div class="board__task-footer">
        <div class="board__task-estado">
            <p>Fecha Límite</p>
        </div>
        <p class="board__task-fecha">5/04/2026</p>
    </div>
</a>

        <div class="board__task">
            <h4 class="board__task-title">Tarea 2</h4>
            <p class="board__task-description">Realizar actividad Sena</p>
            <div class="board__task-footer">
                <div class="board__task-estado">
                    <p>Fecha Límite</p>
                </div>
                <p class="board__task-fecha">5/04/2026</p>
            </div>
        </div>
    </div>

    
    <div class="board__column board__column--proceso">
        <div class="board__title">
            <h3>En Proceso</h3>
        </div>

        <div class="board__task">
            <h4 class="board__task-title">Tarea 1</h4>
            <p class="board__task-description">Realizar actividad Sena</p>
            <div class="board__task-footer">
                <div class="board__task-estado">
                    <p>En Proceso</p>
                </div>
                <p class="board__task-fecha">5/04/2026</p>
            </div>
        </div>

        <div class="board__task">
            <h4 class="board__task-title">Tarea 2</h4>
            <p class="board__task-description">Realizar actividad Sena</p>
            <div class="board__task-footer">
                <div class="board__task-estado">
                    <p>En Proceso</p>
                </div>
                <p class="board__task-fecha">5/04/2026</p>
            </div>
        </div>
    </div>

    
    <div class="board__column board__column--terminadas">
        <div class="board__title">
            <h3>Completadas</h3>
        </div>

        <div class="board__task">
            <h4 class="board__task-title">Tarea 1</h4>
            <p class="board__task-description">Realizar actividad Sena</p>
            <div class="board__task-footer">
                <div class="board__task-estado">
                    <p>Completada</p>
                </div>
                <p>5/04/2026</p>
            </div>
        </div>
    </div>

</div>

    
    </main>

    <footer class="footer">
        <p class="footer_message">“Convierte tus ideas en tareas… y tus tareas en logros.”</p>
    </footer>
</div>
</body>
</html>