:root {
    --color-primary: #64a1df;      
    --color-dark-alt: #2c3e50;      
    --bg-main: #d1e1f8;            
    --bg-surface: #ffffff;          
    --bg-semi-trans: rgba(255, 255, 255, 0.7); 
    --shadow-board-task:  rgba(0, 0, 0, 0.15);

    --text-on-dark: #d1e1f8;        
    --text-on-light: #2c3e50;     
    --text-muted: #666666;        
    
    --font-size-base: 16px;         
    --spacing-gap: 1.5rem;     
    
    --column--preferidas: rgb(255, 255, 25);
    --column--proceso: rgb(243, 138, 64);
    --board__column--terminadas: rgb(58, 146, 63);
}

body {
    background-color: var(--bg-main);
    color: var(--text-on-light);
    font-family: var(--font-family-body);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    margin: 0;
}